.element {
    .banner_element {
        .message {
            color: white;
            font-size: 52px;
            display: flex;
            align-items: center;
            height: 100%;
        }
    }

    .one-column-block,
    .two-column-bock,
    .three-column-block,
    .four-column-block {
        padding-top: 10px;
    }

    .col-title {
        margin-top: 10px;
        margin-bottom: 15px;
        border-bottom: 1px solid #d3caca;
    }
}
