.element {
    .banner_element {
        background-size: cover;
        .message {
            color: white;
            font-size: 52px;
            display: flex;
            align-items: center;
            height: 100%;
        }
    }

    .one-column-block,
    .two-column-bock,
    .three-column-block,
    .four-column-block {
        padding-top: 10px;
    }

    .col-title {
        margin-top: 10px;
        margin-bottom: 15px;
        border-bottom: 1px solid #d3caca;
    }

    .googlemap {
        height: 300px !important;
    }

    .app__elements__models__imageelement {
        height: 100%;
        .element {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .project-summary-image {
        height: 225px;
        width: 300px;
        position: relative;
        margin: 0 10px 15px 10px;

        .title {
            color: white;
            position: absolute;
            width: 100%;
            background: rgba(11, 177, 245, 0.5);
            padding: 10px;
            font-weight: bold;
            text-align: center;
            letter-spacing: 1px;
            bottom: 0;
        }
    }
}

