header {
    .header {
        background: $basecolor;
        min-height: 100px;

        &.home-page-header {
            position: absolute;
            background: rgba(0,0,0,0.5);
            width: 100%;
        }

        .site-logo {
            img {
                height: 85px;
            }
        }
    }

    nav {
        &.navbar {
            .nav-link {
                letter-spacing: 1px;
                font-size: 16px;
                &.current {
                    color: white;
                    font-weight: 700;
                }
            }
        }
    }
}
