header {
    .header {
        background: $basecolor;
        min-height: 100px;

        &.home-page-header {
            position: absolute;
            background: rgba(0,0,0,0.5);
            width: 100%;
        }

        .site-logo {
            img {
                height: 80px;
            }
        }
    }

    nav {
        &.navbar {
            padding: 0 15px;
            .nav-link {
                letter-spacing: 1px;
                font-size: 16px;
                &.current {
                    color: white;
                    font-weight: 700;
                }
            }

            .dropdown-menu {
                margin-top: 37px;
                border-radius: 0;
                background: #121e26;
                .dropdown-item {
                    color: white;
                    padding: 10px 20px;
                    font-size: 14px;
                    &:hover {
                        background-color: inherit;
                        color: rgba(255,255,255,.75);
                    }
                }
            }
        }
    }
}
