@import "assets/scss/mixins";

.home-page {
    .banner {
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(200,100,0, 0.3); // Tint color
        background-blend-mode: multiply;
        .banner-message {
            height: 100%;
            display: flex;
            align-items: center;
            color: white;
            font-size: 52px;
            font-weight: 800;
            line-height: 60px;
            animation: fadeIn ease-in 2s;
            .content {
                max-width: 600px;
            }
        }
    }
}
